.nav {
    display: flex;
    justify-content: space-between;
    padding: 10px;
    background-color: blueviolet;
}

.nav div {
    background: transparent;
}

.nav h1 {
    background-color: transparent;
    color: white;
    margin: 0;
}

.nav button {
    padding: 10px 20px;
    background-color: #ffff00;
    border: none;
    font-size: 15px;
    border-radius: 50px;
}

.nav img {
    height: 35px;
    background: none;
}

@media screen and (max-width: 768px) {
    .nav {
        flex-direction: column;
        align-items: center;
        width: 100%;
    }
    
    .nav h1 {
        margin-bottom: 10px;
    }
}
