.overlap{
    position: absolute;
    position: fixed;
    left: 0;
    /* bottom: 0; */
    border-bottom-left-radius: 100%;
    border-bottom-right-radius: 100%;
    background-color: #f0f2f5;
    /* background-color: transparent; */
    z-index: 1100;
    /* height: 40px; */
    width: 100%;
    /* border-radius: 50px; */
    
}
.footer-wrapper {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    height: auto; /* Adjust the height as needed */
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    z-index: 1000; /* Ensure it appears above other content */
}



.footer {
    padding: 30px;
    background-color: blueviolet; color: white; text-align: center
}
